body,h1,h2,h3,h4,h5,h6 {
  font-family: "Lato", sans-serif}
.w3-bar,h1,button {
  font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-flask {font-size:200px}
.jb-box-shadow{
  box-shadow: 10px 5px 5px grey;
}

.carousel-inner > .item {
  height: 50vh;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: 800px;
  width: auto;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}
a:link,a:active,a:visited{
  text-decoration:none;
  color:white;
}
